// 
// Default variables
// Don't change!
// 

$section-margin: 50px !default;
$entry-margin: 25px !default;
$page-navigation-margin-top: $entry-margin !default;
$page-navigation-margin-bottom: $entry-margin !default;
$page-navigation-border-top: solid 1px #ccc !default;
$page-navigation-border-bottom: solid 1px #ccc !default;
$page-navigation-padding-top: $section-margin !default;
$page-navigation-padding-bottom: $section-margin !default;
$page-navigation-a-width: 50% !default;
$alignment-margin: 1.5em !default;
$widget-margin: 0 0 $entry-margin !default;
$widget-title-margin: 0 0 0.5em !default;
$hentry-margin: 0 0 $entry-margin !default;
$entry-content-margin: 10px 0 0 !default;
$page-links-margin: 0 0 10px !default;
$entry-footer-margin: 10px 0 0 !default;
$comments-area-margin: $entry-margin 0 0 !default;
$comments-title-margin: 0 0 $entry-margin !default;
$wp-caption-margin-bottom: $alignment-margin !default;
$wp-caption-text-size: 1em !default;
$wp-caption-text-align: center !default;
$wp-caption-text-margin: 0.8075em 0 !default;
$gallery-margin-bottom: $alignment-margin !default;
