@charset "UTF-8";
.widget {
	margin: $widget-margin;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

.widget-title,
.widgettitle {
	margin: $widget-title-margin;
}
